* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    overflow-x: hidden;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: absolute;
}

.QR-box {
    background-color: hsl(0, 0%, 100%);
    height: 455px;
    width: 313px;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
}

.QR {
    border-radius: 25px;
}

.QR img {
    width: 100%;
    padding: 1em;
    border-radius: 25px;

}

.QR-text {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
}

.text {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    padding: 0 2rem;
    font-size: 20px;
}

.prim {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 1rem 1.7rem;
    color: hsl(218, 44%, 22%);
    font-size: 15px;

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 357px) {
    .QR-box {
        height: 457px;

    }

}